main.localhost {
    reverse_proxy : http://localhost:3000
}

another.localhost {
    reverse_proxy http://localhost:5000
}

localhost {
    handle /another {
        uri strip_prefix another
        reverse_proxy http://localhost:5000
    }

     handle /* {
        reverse_proxy : http://localhost:3000
    }
}