# for docker
localhost {
    tls /certs/local.crt /certs/local.key
    respond "hello world"
}


# for local 

# # for react app
# react.localhost {
#     tls local.crt local.key  

#     handle /api {
#         uri strip_prefix api
#         reverse_proxy http://localhost:5000
#     }

#     reverse_proxy http://localhost:3000
# }

# # for express app
# express.localhost {
#     handle /5000 {
#         uri strip_prefix 5000
#         reverse_proxy http://localhost:5000
#     }

#     handle /5001 {
#         uri strip_prefix 5001
#         reverse_proxy http://localhost:5000
#     }

#     reverse_proxy http://localhost:5000
# }
